In [11]:
import pandas as pd
import matplotlib 




df =pd.read_csv("C:/Users/sarth/tfl-northern/raw_data/lost-customer-hours.csv")

print(df.head())

  Financial Year  Period Bakerloo  Central      C&H District  Jubilee  \
0        2016-17     1.0  112,578  477,818  192,065  214,682  247,373
1        2016-17     2.0   76,720  458,195  154,797  169,790  199,036
2        2016-17     3.0  112,550  496,322  229,491  291,150  228,329
3        2016-17     4.0  101,499  798,680  268,184  170,682  235,013
4        2016-17     5.0   96,403  477,322  223,574  165,369  225,339

  Metropolitan Northern Piccadilly Victoria Waterloo & City    Network
0       89,559  207,184    125,575  159,153          18,615  1,844,602
1       96,922  216,041    121,990  152,276           2,559  1,648,326
2      187,294  196,815    161,332  190,018          13,361  2,106,662
3      182,506  176,183    162,980  393,877           4,043  2,493,647
4      147,445  273,465    200,244  205,436           7,379  2,021,978

In [10]:
import os
print(os.getcwd())

C:\Users\sarth\tfl-northern\notebooks

In [13]:
import pandas as pd
import matplotlib 




df =pd.read_csv("C:/Users/sarth/tfl-northern/raw_data/lost-customer-hours.csv")

print(df.info())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Financial Year   51 non-null     object
 1   Period           51 non-null     float64
 2   Bakerloo         51 non-null     object
 3   Central          51 non-null     object
 4   C&H              51 non-null     object
 5   District         51 non-null     object
 6   Jubilee          51 non-null     object
 7   Metropolitan     51 non-null     object
 8   Northern         51 non-null     object
 9   Piccadilly       51 non-null     object
 10  Victoria         51 non-null     object
 11  Waterloo & City  51 non-null     object
 12  Network          51 non-null     object
dtypes: float64(1), object(12)
memory usage: 5.4+ KB
None
Index(['Financial Year', 'Period', 'Bakerloo', 'Central', 'C&H', 'District',
       'Jubilee', 'Metropolitan', 'Northern', 'Piccadilly', 'Victoria',
       'Waterloo & City', 'Network'],
      dtype='object')

In [5]:
import pandas as pd
import matplotlib 




df =pd.read_csv("C:/Users/sarth/tfl-northern/raw_data/lost-customer-hours.csv")
northern_df = df[["Financial Year", "Period", "Northern"]]
northern_df.head()
northern_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Financial Year  51 non-null     object
 1   Period          51 non-null     float64
 2   Northern        51 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [13]:
import pandas as pd
import matplotlib 

df =pd.read_csv("C:/Users/sarth/tfl-northern/raw_data/lost-customer-hours.csv")
df["Northern"] = df["Northern"].str.replace(',', '').astype(float)
df["Northern"] = pd.to_numeric(df["Northern"])
northern_df = df[["Financial Year", "Period", "Northern"]]


northern_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Financial Year  51 non-null     object
 1   Period          51 non-null     float64
 2   Northern        51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB